*.secret
*.log
.config/discord
.config/vim-easycomplete/
.vim/plugged
.config/cef_user_data
.config/systemd
.config/pulse
.config/mimeapps.list
.config/user-dirs.dirs
.config/pavucontrol.ini
.config/user-dirs.locale
.config/gamescope
.config/environment.d
.config/aerc
.config/automapaper
.config/dconf
.config/wally
.config/.keymapp
.config/google-chrome
.config/GIMP/
.config/weylus/
.config/smassh/
.vim/overrides
.config/Valve/
.config/openvr/
.config/openxr/
.config/unity3d/
.config/vlc/
.config/QtProject.conf
.config/godot/
.config/unity3d/
.config/unityhub/
